*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

p {
  text-align: center;
}

.login {
  margin: 20px;
  margin-top:60px;
  padding: 20px;
  width:350px;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgb(225, 236, 247);
  text-align:left;
}

header h1 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color:rgb(1, 1, 56);
  font-weight:bolder;
}

header h3{
  font-size: medium;
}

header{
  margin-bottom:30px;
}


a {
  text-decoration: inherit;
}

nav{
  display:flex;
  justify-content:space-between;
  margin:30px;
}