@import url("https://themes.googleusercontent.com/fonts/css?kit=lbE64X1vms6B_UbGPzpsxA");
ol.lst-kix_fp1gpdtq078a-6 {
  list-style-type: none;
}
ol.lst-kix_fp1gpdtq078a-7 {
  list-style-type: none;
}
ol.lst-kix_fp1gpdtq078a-7.start {
  counter-reset: lst-ctn-kix_fp1gpdtq078a-7 0;
}
ol.lst-kix_fp1gpdtq078a-8 {
  list-style-type: none;
}
.lst-kix_hb6i7unukdp1-4 > li {
  counter-increment: lst-ctn-kix_hb6i7unukdp1-4;
}
ol.lst-kix_hb6i7unukdp1-5.start {
  counter-reset: lst-ctn-kix_hb6i7unukdp1-5 0;
}
ol.lst-kix_fp1gpdtq078a-0.start {
  counter-reset: lst-ctn-kix_fp1gpdtq078a-0 0;
}
ol.lst-kix_fp1gpdtq078a-4.start {
  counter-reset: lst-ctn-kix_fp1gpdtq078a-4 0;
}
.lst-kix_fp1gpdtq078a-8 > li {
  counter-increment: lst-ctn-kix_fp1gpdtq078a-8;
}
.lst-kix_hb6i7unukdp1-3 > li {
  counter-increment: lst-ctn-kix_hb6i7unukdp1-3;
}
.lst-kix_fp1gpdtq078a-2 > li {
  counter-increment: lst-ctn-kix_fp1gpdtq078a-2;
}
ol.lst-kix_fp1gpdtq078a-8.start {
  counter-reset: lst-ctn-kix_fp1gpdtq078a-8 0;
}
ol.lst-kix_hb6i7unukdp1-1.start {
  counter-reset: lst-ctn-kix_hb6i7unukdp1-1 0;
}
.lst-kix_hb6i7unukdp1-8 > li {
  counter-increment: lst-ctn-kix_hb6i7unukdp1-8;
}
ol.lst-kix_fp1gpdtq078a-1.start {
  counter-reset: lst-ctn-kix_fp1gpdtq078a-1 0;
}
.lst-kix_hb6i7unukdp1-5 > li {
  counter-increment: lst-ctn-kix_hb6i7unukdp1-5;
}
.lst-kix_hb6i7unukdp1-2 > li {
  counter-increment: lst-ctn-kix_hb6i7unukdp1-2;
}
ol.lst-kix_hb6i7unukdp1-5 {
  list-style-type: none;
}
ol.lst-kix_hb6i7unukdp1-6 {
  list-style-type: none;
}
ol.lst-kix_hb6i7unukdp1-3 {
  list-style-type: none;
}
ol.lst-kix_hb6i7unukdp1-4 {
  list-style-type: none;
}
ol.lst-kix_hb6i7unukdp1-4.start {
  counter-reset: lst-ctn-kix_hb6i7unukdp1-4 0;
}
ol.lst-kix_hb6i7unukdp1-7 {
  list-style-type: none;
}
ol.lst-kix_hb6i7unukdp1-8 {
  list-style-type: none;
}
ol.lst-kix_fp1gpdtq078a-2 {
  list-style-type: none;
}
.lst-kix_fp1gpdtq078a-4 > li {
  counter-increment: lst-ctn-kix_fp1gpdtq078a-4;
}
.lst-kix_fp1gpdtq078a-1 > li {
  counter-increment: lst-ctn-kix_fp1gpdtq078a-1;
}
ol.lst-kix_fp1gpdtq078a-3 {
  list-style-type: none;
}
.lst-kix_fp1gpdtq078a-8 > li:before {
  content: "" counter(lst-ctn-kix_fp1gpdtq078a-8, lower-roman) ". ";
}
ol.lst-kix_fp1gpdtq078a-4 {
  list-style-type: none;
}
.lst-kix_fp1gpdtq078a-7 > li {
  counter-increment: lst-ctn-kix_fp1gpdtq078a-7;
}
ol.lst-kix_fp1gpdtq078a-5 {
  list-style-type: none;
}
ol.lst-kix_hb6i7unukdp1-1 {
  list-style-type: none;
}
ol.lst-kix_hb6i7unukdp1-2 {
  list-style-type: none;
}
ol.lst-kix_fp1gpdtq078a-0 {
  list-style-type: none;
}
ol.lst-kix_hb6i7unukdp1-0 {
  list-style-type: none;
}
ol.lst-kix_fp1gpdtq078a-1 {
  list-style-type: none;
}
ol.lst-kix_hb6i7unukdp1-7.start {
  counter-reset: lst-ctn-kix_hb6i7unukdp1-7 0;
}
ol.lst-kix_fp1gpdtq078a-2.start {
  counter-reset: lst-ctn-kix_fp1gpdtq078a-2 0;
}
.lst-kix_fp1gpdtq078a-4 > li:before {
  content: "" counter(lst-ctn-kix_fp1gpdtq078a-4, lower-latin) ". ";
}
.lst-kix_fp1gpdtq078a-5 > li:before {
  content: "" counter(lst-ctn-kix_fp1gpdtq078a-5, lower-roman) ". ";
}
.lst-kix_fp1gpdtq078a-3 > li:before {
  content: "" counter(lst-ctn-kix_fp1gpdtq078a-3, decimal) ". ";
}
.lst-kix_fp1gpdtq078a-7 > li:before {
  content: "" counter(lst-ctn-kix_fp1gpdtq078a-7, lower-latin) ". ";
}
.lst-kix_hb6i7unukdp1-7 > li {
  counter-increment: lst-ctn-kix_hb6i7unukdp1-7;
}
ol.lst-kix_hb6i7unukdp1-0.start {
  counter-reset: lst-ctn-kix_hb6i7unukdp1-0 0;
}
.lst-kix_hb6i7unukdp1-4 > li:before {
  content: "" counter(lst-ctn-kix_hb6i7unukdp1-4, lower-latin) ". ";
}
.lst-kix_fp1gpdtq078a-6 > li:before {
  content: "" counter(lst-ctn-kix_fp1gpdtq078a-6, decimal) ". ";
}
ol.lst-kix_fp1gpdtq078a-5.start {
  counter-reset: lst-ctn-kix_fp1gpdtq078a-5 0;
}
.lst-kix_hb6i7unukdp1-5 > li:before {
  content: "" counter(lst-ctn-kix_hb6i7unukdp1-5, lower-roman) ". ";
}
.lst-kix_hb6i7unukdp1-6 > li:before {
  content: "" counter(lst-ctn-kix_hb6i7unukdp1-6, decimal) ". ";
}
.lst-kix_fp1gpdtq078a-5 > li {
  counter-increment: lst-ctn-kix_fp1gpdtq078a-5;
}
ol.lst-kix_hb6i7unukdp1-3.start {
  counter-reset: lst-ctn-kix_hb6i7unukdp1-3 0;
}
.lst-kix_hb6i7unukdp1-7 > li:before {
  content: "" counter(lst-ctn-kix_hb6i7unukdp1-7, lower-latin) ". ";
}
.lst-kix_hb6i7unukdp1-0 > li {
  counter-increment: lst-ctn-kix_hb6i7unukdp1-0;
}
.lst-kix_fp1gpdtq078a-0 > li:before {
  content: "" counter(lst-ctn-kix_fp1gpdtq078a-0, decimal) ". ";
}
.lst-kix_fp1gpdtq078a-1 > li:before {
  content: "" counter(lst-ctn-kix_fp1gpdtq078a-1, lower-latin) ". ";
}
.lst-kix_hb6i7unukdp1-8 > li:before {
  content: "" counter(lst-ctn-kix_hb6i7unukdp1-8, lower-roman) ". ";
}
.lst-kix_fp1gpdtq078a-2 > li:before {
  content: "" counter(lst-ctn-kix_fp1gpdtq078a-2, lower-roman) ". ";
}
.lst-kix_hb6i7unukdp1-6 > li {
  counter-increment: lst-ctn-kix_hb6i7unukdp1-6;
}
.lst-kix_fp1gpdtq078a-0 > li {
  counter-increment: lst-ctn-kix_fp1gpdtq078a-0;
}
ol.lst-kix_hb6i7unukdp1-6.start {
  counter-reset: lst-ctn-kix_hb6i7unukdp1-6 0;
}
.lst-kix_fp1gpdtq078a-6 > li {
  counter-increment: lst-ctn-kix_fp1gpdtq078a-6;
}
ol.lst-kix_hb6i7unukdp1-8.start {
  counter-reset: lst-ctn-kix_hb6i7unukdp1-8 0;
}
ol.lst-kix_fp1gpdtq078a-3.start {
  counter-reset: lst-ctn-kix_fp1gpdtq078a-3 0;
}
.lst-kix_fp1gpdtq078a-3 > li {
  counter-increment: lst-ctn-kix_fp1gpdtq078a-3;
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_hb6i7unukdp1-3 > li:before {
  content: "" counter(lst-ctn-kix_hb6i7unukdp1-3, decimal) ". ";
}
.lst-kix_hb6i7unukdp1-1 > li:before {
  content: "" counter(lst-ctn-kix_hb6i7unukdp1-1, lower-latin) ". ";
}
.lst-kix_hb6i7unukdp1-2 > li:before {
  content: "" counter(lst-ctn-kix_hb6i7unukdp1-2, lower-roman) ". ";
}
ol.lst-kix_hb6i7unukdp1-2.start {
  counter-reset: lst-ctn-kix_hb6i7unukdp1-2 0;
}
.lst-kix_hb6i7unukdp1-1 > li {
  counter-increment: lst-ctn-kix_hb6i7unukdp1-1;
}
.lst-kix_hb6i7unukdp1-0 > li:before {
  content: "" counter(lst-ctn-kix_hb6i7unukdp1-0, decimal) ". ";
}
ol.lst-kix_fp1gpdtq078a-6.start {
  counter-reset: lst-ctn-kix_fp1gpdtq078a-6 0;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c3 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 80pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c6 {
  background-color: #ffffff;
  color: #042040;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 24pt;
  font-family: "Nunito";
  font-style: normal;
}
.c0 {
  background-color: #ffffff;
  color: #042040;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 15pt;
  font-family: "Arial";
  font-style: normal;
}
.c9 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c12 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 42pt;
  line-height: 1.125;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c8 {
  color: #042040;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 30pt;
  font-family: "Nunito";
  font-style: normal;
}
.c11 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c14 {
  padding-top: 0pt;
  padding-bottom: 61pt;
  line-height: 1.25;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c5 {
  padding-top: 0pt;
  padding-bottom: 61pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c4 {
  padding-top: 0pt;
  padding-bottom: 54pt;
  line-height: 1.1875;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c7 {
  background-color: #ffffff;
  font-size: 15pt;
  color: #1f1bdc;
}
.c10 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c1 {
  background-color: #ffffff;
  font-size: 15pt;
  color: #042040;
}
.c2 {
  padding: 0;
  margin: 0;
}
.c13 {
  color: inherit;
  text-decoration: inherit;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
